.view-peers {

  .network-main nav {
    min-width: 25rem !important;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100%;

    a {
      width: 100% !important;
    }
  }
}