.Settings {
  height: 100%;

  .view-peers, .network-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .network-main {
    grid-template-columns: 1fr 5fr;

    nav.scrollable {
      min-width: 18rem !important;
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-y: auto;
      border-right: 1px solid var(--border-surface);
    }

    .peers-detail, .peers-detail-empty {
      overflow-y: auto;
    }
  }

  .prop-toggle {
    margin-left: 1rem;
    margin-right: auto;
  }

}


